body{
    background: url("./background.jpg") no-repeat fixed center;
    background-size: cover;
}
.navbar-brand{
    font-size: 1.5em;
}
.nav-link{
    font-size: 1em;
}
main{
    margin-top: 12em;
}
#countTime{
    font-size: 3.5em;
    text-shadow: 2px 6px rgba(0, 0, 0, 0.4);
}
.card {
    background-color: rgba(0, 0, 0, 0.3);
}
#inc, #dec{
    font-size: 1.25em;
}
#inc, #dec{
    padding: 0.25rem 1rem !important;
}
@media (min-width: 360px) {
    body{font-size: 10px;}
}
@media (min-width: 550px) {
    body{font-size: 12px;}
}
@media (min-width: 768px) {
    body{font-size: 14px;}
}
@media (min-width: 1024px) {
    body{font-size: 16px;}
}